.container {
  @apply w-full;

  .startCont {
    @apply h-screen relative flex flex-col items-center;
    background-size: cover;
    background-image: url("../assets/images/bg-image.png");

    &::before {
      content: "";
      @apply absolute inset-0 bg-black opacity-50;
      z-index: 1;
    }

    .title {
      @apply text-yellow text-[60px] text-center relative;
      z-index: 2;
    }

    .menuButton {
      @apply bg-red text-yellow px-32 rounded-xl py-5 relative text-2xl font-semibold inline-block my-auto;
      z-index: 2;

      @media (min-width: 1px) {
        @apply px-4;
      }

      @media (min-width: 400px) {
        @apply px-8;
      }

      @media (min-width: 768px) {
        @apply px-20;
      }

      @media (min-width: 1024px) {
        @apply px-20;
      }

      @media (min-width: 1280px) {
        @apply px-32;
      }
    }
  }

  .bestProductContainer {
    @apply -mt-1 pb-10;
    background-size: cover;
    background-image: url("../assets/images/best-products-bg.png");

    .controls {
      margin-top: 20px;
      display: flex;
      justify-content: center;
      gap: 20px;
    }

    .controlButton {
      background-color: #c21121;
      color: #ffbe00;
      padding: 12px 24px;
      border-radius: 12px;
      font-weight: 600;
      font-size: 18px;
      cursor: pointer;
      border: none;
      transition: background-color 0.3s ease;
    }

    .bestProductTitle {
      @apply text-center italic text-yellow text-[65px];

      @media (min-width: 1px) {
        @apply text-[32px] py-3;
      }
      @media (min-width: 1240px) {
        @apply text-[60px];
      }
    }

    .gridContainer {
      @apply flex flex-row py-3;

      @media (max-width: 600px) {
        @apply flex-col;
      }

      .left {
        @apply w-1/2 py-8 flex items-center justify-center;

        @media (max-width: 600px) {
          @apply w-full;
        }

        .image {
          @apply h-[500px] w-[500px];

          @media (min-width: 1px) {
            @apply h-[250px] w-[250px];
          }
          @media (min-width: 1400px) {
            @apply h-[500px] w-[500px];
          }
        }
      }

      .right {
        @apply w-1/2 my-auto;

        .controls {
          margin-top: 40px;
          display: flex;
          justify-content: center;
          gap: 20px;
        }

        .controlButton {
          background-color: #c21121;
          color: #ffbe00;
          padding: 12px 24px;
          border-radius: 12px;
          font-weight: 600;
          font-size: 18px;
          cursor: pointer;
          border: none;
          transition: background-color 0.3s ease;
        }

        @media (max-width: 600px) {
          @apply w-full;
        }

        .description {
          @apply text-yellow text-center text-[20px] font-light italic mx-40;

          @media (min-width: 1px) {
            @apply mx-12 text-[14px];
          }
          @media (min-width: 1400px) {
            @apply mx-40 text-[20px];
          }
        }

        .composition {
          @apply text-yellow text-[30px] font-light text-center;

          @media (min-width: 1px) {
            @apply text-[20px];
          }
          @media (min-width: 1400px) {
            @apply text-[30px];
          }
        }
        .actionContainer {
          @media (min-width: 1px) {
            @apply flex flex-col items-center mx-6;
          }

          @media (min-width: 800px) {
            @apply flex flex-col items-center mx-12;
          }

          @media (min-width: 1400px) {
            @apply flex flex-col items-center mx-24;
          }

          .priceContainer {
            @apply flex items-center justify-center gap-24 pt-16;

            .priceText {
              @apply text-[40px] text-yellow;

              @media (min-width: 1px) {
                @apply text-[20px];
              }
              @media (min-width: 1400px) {
                @apply text-[40px];
              }
            }
          }
        }
      }
    }
  }
}

.keen-slider {
  @apply w-full;
}

.keen-slider__slide {
  @apply px-2;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fadeIn {
  animation: fadeIn 0.5s forwards;
}

.fadeOut {
  animation: fadeOut 0.5s forwards;
}

.cartButton {
  margin-top: 1rem;
  width: 100%;
  padding: 20px 1.5rem;
  background-color: #c21121;
  color: #ffbe00;

  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.inCart {
  background-color: #ffbe00 !important;
  color: #c21121 !important;
}
