.aboutContainer {
  @apply -mt-1 flex flex-col items-center justify-center;
  background-size: cover;
  background-image: url("../../assets/images/bg-image.png");

  .aboutTitle {
    @apply text-yellow text-[50px] font-light px-12 rounded-[15px] text-center inline-block mt-[16px];
    background: black;
    opacity: 0.8;

    @media (max-width: 600px) {
      @apply text-[20px];
    }

    @media (max-width: 1200px) {
      @apply text-[35px];
    }
  }

  .gridAboutContainer {
    @apply flex flex-row w-full;

    @media (max-width: 800px) {
      @apply flex-col;
    }

    .leftAbout,
    .rightAbout {
      @apply w-1/2 py-2 flex flex-col items-center;

      @media (max-width: 800px) {
        @apply w-full;
      }

      .aboutName {
        @apply text-[40px] text-yellow px-12 rounded-[15px] text-center;
        background: black;
        opacity: 0.8;

        @media (max-width: 600px) {
          @apply text-[18px];
        }

        @media (max-width: 1200px) {
          @apply text-[25px];
        }
      }

      .moreButton {
        @apply bg-red text-yellow px-32 rounded-xl py-5 mb-3 relative text-2xl font-semibold inline-block my-auto;
        z-index: 2;

        @media (min-width: 1px) {
          @apply px-4;
        }

        @media (min-width: 400px) {
          @apply px-8;
        }

        @media (min-width: 768px) {
          @apply px-12;
        }

        @media (min-width: 1024px) {
          @apply px-16;
        }

        @media (min-width: 1280px) {
          @apply px-32;
        }
      }

      .map {
        @apply px-32 my-6;

        @media (min-width: 1px) {
          @apply px-8;
        }

        @media (min-width: 1200px) {
          @apply px-16;
        }
      }
    }
  }
}
